{{template "header.html" .}}
<body>
<div class=container>
    <form action="/upacount" method="post" enctype="multipart/form-data">
        <p>Profile Up</p>

        username: 
        <input type="text" name=username placeholder="username" value='{{.user.Username}}'><br><br>
        age :
        <input type="number" name=age placeholder="age" value='{{.user.Age}}'><br><br>
        
        profess:
        <input type="text" name=job placeholder="profess" value='{{.user.Profess}}'><br><br>
        
        Ditails:
        <textarea name="descript" title="write all details" placeholder="description" >{{.user.Descript}}</textarea><br><br>
        
        contry:
        <select name="contry">
            {{$contry := .user.Contry}}
            <option value="usa"      {{if eq $contry "usa"}} selected {{end}}>usa</option> 
            <option value="england"  {{if eq $contry "england"}} selected {{end}}>englend</option>
            <option value="eropa"    {{if eq $contry "eropa"}} selected {{end}}>eropa</option>
            <option value="arabia"   {{if eq $contry "arabia"}} selected {{end}}>arabia</option>
            <option value="endia"    {{if eq $contry "endia"}} selected {{end}}>india</option>
            <option value="china"    {{if eq $contry "china"}} selected {{end}}>chaina</option>
            <option value="malawi"   {{if eq $contry "malawi"}} selected {{end}}>malawi</option>
        </select> <br><br>

        age:
        <input type="text" name=job placeholder="job" value='{{.user.Profess}}'><br><br>
        <input type="submit" value="Submit">
    </form>
</div>
<div class=footer> footer  copyryght 2020 </div>
<script>
// onkeyup="this.value.length == 200 ? alert('stop') : null;" 
</script>
</body>
</html>
