<!-- user profile -->
{{template "header.html" .}}
<body>
<div class='container'>


<div class="p-2 m-2 border border-2">

    <div  style="background-color: rgba(200, 200, 200, 200);">
        {{if eq .user.Photos "" }}
            <h1> no photo </h1>  
        {{else}}
        <img src="/fs/{{.user.Photos}}" class="col-5 h-100 d-inline-block" ><br>
        {{end}}

        <h3 class=name>username {{.user.Username}}</h3>
        <h3 class=name>email {{.user.Email}}  </h3>
        <h3 class=name>photo {{.user.Photos}} </h3>

    </div>
    
</div>
</div>

</body>
